@import '../../assets/sass/variables.scss';
.hero {
    padding: 103px 0 0 135px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // background: linear-gradient(
    //     to bottom right,
    //     rgba(1, 35, 72, 1) 5%,
    //     rgba(4, 12, 24, 1) 50%
    // );
    position: relative;
    z-index: 1;

    &__image {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 668px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        max-width: 53%;
    }

    &__title {
        text-align: left;
        margin-bottom: 33px;
    }

    &__descr {
        font-size: 20px;
        line-height: 27px;
        color: $text-color;
        max-width: 90%;
        margin-bottom: 40px;
    }

    &__form {
        width: 100%;
        display: flex;
        margin-bottom: 40px;

        &-input {
            flex-grow: 1;
            background-color: #052d56;
            border: none;
            font-size: 20px;
            line-height: 27px;
            padding: 23px 32px;
            border-radius: 5px 0px 0px 5px;
            color: #3d6184;

            &::placeholder {
                color: #3d6184;
            }

            &:focus {
                outline: 1px solid $orange-color;
            }
        }

        &-btn {
            padding: 20px 32px;
            text-align: center;
            border: 0;
            background: $orange-color;
            color: $white-color;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            transition: background-color 0.3s ease;
            cursor: pointer;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #e33008;
                }
            }

            &:active {
                background-color: #ff5934;
            }
        }
    }

    &__peoples {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-image {
            max-width: 181px;
            margin-right: 14px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-descr {
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 38px;
            color: $white-color;
        }
    }
}
