@import '../../assets/sass/variables.scss';
.cta {
    &__banner {
        padding: 52px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10.7236px;

        &-text {
            padding-right: 15px;

            @media screen and (max-width: 576px) {
                padding-right: 0;
            }
        }

        &-link {
            color: $black-color;
            font-size: 12px;
        }

        &-title {
            font-size: 24px;
            line-height: 188%;

            @media screen and (max-width: 768px) {
                line-height: 140%;
            }

            @media screen and (max-width: 576px) {
                margin-bottom: 20px;
                font-size: 20px;
            }
        }

        &-btn {
            cursor: pointer;
            border: none;
            background-color: $black-color;
            color: $white-color;
            text-align: center;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 167%;
            padding: 15px 44px;
            border-radius: 40px;
            transition: color 0.3s ease, background-color 0.3s ease;
            white-space: nowrap;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $white-color;
                    color: $black-color;
                }
            }

            &:active {
                background-color: #ccc;
            }
        }

        @media screen and (max-width: 768px) {
            padding: 42px 30px;
        }

        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
