@import '../../assets//sass/variables.scss';
.about {
    margin-bottom: 126px;

    &__wrapper {
        padding: 57px;
        background: #042c54;
        // filter: box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 992px) {
            padding: 28px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 91px;

        &-descr {
            padding-left: 29px;

            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 46px;
        }
    }

    &__descr {
        max-width: 731px;
        font-weight: 500;
        font-size: 16px;
        line-height: 188%;
        color: $text-color;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 91px;

        &-title {
            max-width: 472px;

            @media screen and (max-width: 768px) {
                max-width: 65%;
            }

            @media screen and (max-width: 576px) {
                max-width: 100%;
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 46px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: initial;
        flex-wrap: wrap;
        gap: 30px;

        &-column {
            flex: 1 1 auto;
            max-width: calc(33.33% - 30px);

            @media screen and (max-width: 992px) {
                max-width: calc(50% - 20px);
            }

            @media screen and (max-width: 576px) {
                max-width: calc(100% - 20px);
            }
        }

        @media screen and (max-width: 992px) {
            gap: 20px;
        }
    }

    @media screen and (max-width: 992px) {
        margin-bottom: 63px;
    }
}
