@import '../../assets/sass/variables.scss';

.footer {
    padding: 175px 0 27px 0;

    &__title {
        margin: 0 auto 86px auto;
        text-align: center;
        max-width: 821px;
    }

    &__link {
        font-family: 'Gilroy', sans-serif;
        display: block;
        width: max-content;
        margin: 0 auto 180px auto;
        text-transform: capitalize;
        padding: 22px;
        border: 1px solid $white-color;
        color: $white-color;
        text-align: center;
        line-height: 120%;
    }

    &__copyright {
        display: block;
        text-align: center;
        font-family: 'Gilroy', sans-serif;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: $white-color;
    }
}
