@import '../../assets/sass/variables.scss';

.blog {
    &__title {
        margin-bottom: 115px;
    }

    &-list {
        display: grid;
        grid-template-columns:
            minmax(250px, 1.28fr)
            repeat(2, minmax(250px, 1fr));
        grid-template-rows: minmax(323px, auto);
        grid-auto-rows: minmax(323px, auto);
        gap: 48px;

        &__card {
            display: flex;
            flex-direction: column;

            &_first {
                grid-row: 1/3;

                @media screen and (max-width: 992px) {
                    grid-row: unset;
                }
            }

            &-body {
                background-color: $blog-card-bg;
                padding: 7px 25px 14px 25px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }

            &-image {
                width: 100%;
                min-height: 130px;
                overflow: hidden;
                position: relative;
                background-color: $main-bg-color;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 42px 42px 0 0;
                    border-color: $main-bg-color transparent transparent
                        transparent;
                    z-index: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: scale 0.3s ease;

                    @media (any-hover: hover) {
                        &:hover {
                            scale: 1.1;
                        }
                    }
                }

                @media screen and (max-width: 992px) {
                    height: 130px;
                    min-height: auto;
                }
            }

            &-published {
                display: block;
                font-weight: 700;
                font-size: 11.649px;
                line-height: 300%;
                color: $white-color;
            }

            &-title {
                color: $white-color;
                font-size: 19px;
                line-height: 157%;
                max-width: 284px;
                margin-bottom: 24px;
                flex-grow: 1;
            }

            &-link {
                font-weight: 700;
                font-size: 11px;
                line-height: 300%;
                color: $white-color;
            }
        }

        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 39px;
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(auto-fill, 1fr);
        }
    }
}
