@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './variables.scss';

body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    color: #000000;
    background-color: $main-bg-color;
    scroll-behavior: smooth;
}

.container {
    padding-right: 135px;
    padding-left: 135px;

    @media screen and (max-width: 768px) {
        padding-left: 48px;
        padding-right: 48px;
    }

    @media screen and (max-width: 768px) {
        padding-left: 45px;
        padding-right: 45px;
    }

    @media screen and (max-width: 414px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.title {
    font-weight: 800;
    font-size: 62px;
    line-height: 121%;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @media screen and (max-width: 992px) {
        font-size: 50px;
    }

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 45px;
    }

    @media screen and (max-width: 414px) {
        font-size: 30px;
    }

    &_sm {
        font-size: 34px;
        line-height: 132%;

        @media screen and (max-width: 414px) {
            font-size: 28px;
        }
    }
}
