//colors
$white-color: #ffffff;
$text-color: #81afdd;
$orange-text: #ff8a71;
$black-color: #000;
$orange-color: #ff4820;
$menu-color: #042c54;
$main-bg-color: #040c18;
$blog-card-bg: #042c54;


//AOS
$timing-function: cubic-bezier(0, 0, 0.04, 0.97);
$time: 0.3s;
$time-text: 0.5s;
